{% extends "layout.html" %}

{% block content %}
  <h2>Contact</h2>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

    <h3>Please Enter Your Information<h3>
    <form action="{{ url_for('home') }}" method=post>
    <table>
    <tr><td>{{ form.hidden_tag() }}</td></tr>
    <tr>
        <td>{{ form.firstname.label }}</td>
        <td>{{ form.firstname }}</td>
    </tr>
    <tr>
        <td>{{ form.lastname.label }}</td>
        <td>{{ form.lastname }}</td>
    </tr>
    <tr>
        <td>{{ form.gender.label }}</td>
        <td>{{ form.gender }}</td>
    </tr>
    <tr>
        <td>{{ form.age.label }} </td>
        <td>{{ form.age }}</td>
    </tr>
    <tr>
        <td>{{ form.blindtype.label }} </td>
        <td>{{ form.blindtype }}</td>
    </tr>
    <tr>
        <td>{{ form.email.label }} </td>
        <td>{{ form.email }}</td>
    </tr>
    <tr>
        <td>{{ form.contact.label }} </td>
        <td>{{ form.contact }}</td>
    </tr>
    <tr><td>{{ form.submit }}</td></tr>
   </table>
  </form>
{% endblock %}